MultiServiceMessengerApp/MultiServiceMessengerApp/Service References/WcfServiceReference/Common.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ServerResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServerResponseOfanyType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerResponse" nillable="true" type="tns:ServerResponse" />
  <xs:complexType name="ServerResponseOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfanyType" nillable="true" type="tns:ServerResponseOfanyType" />
  <xs:complexType name="ServerResponseOfMessageopwjd3rz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Message" Namespace="http://schemas.datacontract.org/2004/07/Common.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:Message" />
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfMessageopwjd3rz" nillable="true" type="tns:ServerResponseOfMessageopwjd3rz" />
  <xs:complexType name="ServerResponseOfArrayOfMessageopwjd3rz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMessage" Namespace="http://schemas.datacontract.org/2004/07/Common.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfMessage" />
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfArrayOfMessageopwjd3rz" nillable="true" type="tns:ServerResponseOfArrayOfMessageopwjd3rz" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
</xs:schema>